In [1]:
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_csv('lifeExpectancyAtBirth.csv', sep=',')

In [3]:
data.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04

In [15]:
data.describe()

            Period  First Tooltip
count  2197.000000    2197.000000
mean   2010.958580      70.226331
std       7.366765       8.929307
min    1920.000000      27.970000
25%    2000.000000      64.250000
50%    2010.000000      71.830000
75%    2015.000000      77.120000
max    2019.000000      86.940000

In [13]:
data[(data.Period ==2019) & (data.Dim1 == 'Both sexes')]

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
12,Albania,2019,Life expectancy at birth (years),Both sexes,78.00
24,Algeria,2019,Life expectancy at birth (years),Both sexes,77.13
36,Angola,2019,Life expectancy at birth (years),Both sexes,63.06
48,Antigua and Barbuda,2019,Life expectancy at birth (years),Both sexes,76.45
...,...,...,...,...,...
2137,Venezuela (Bolivarian Republic of),2019,Life expectancy at birth (years),Both sexes,73.95
2149,Viet Nam,2019,Life expectancy at birth (years),Both sexes,73.74
2161,Yemen,2019,Life expectancy at birth (years),Both sexes,66.63
2173,Zambia,2019,Life expectancy at birth (years),Both sexes,62.45
2185,Zimbabwe,2019,Life expectancy at birth (years),Both sexes,60.68

In [29]:
data['First Tooltip'].nlargest(5)

999     86.94
1002    86.41
1575    86.09
1005    85.77
1839    85.68
Name: First Tooltip, dtype: float64

In [30]:
data['First Tooltip'].nsmallest(5)

860    27.97
859    31.28
861    35.37
322    41.79
383    43.24
Name: First Tooltip, dtype: float64

In [40]:
data['First Tooltip'].mean()

70.22633136094663